<li>
    {{burger_name}}
    {{#unless eaten}}<button class="munch" data-id="{{id}}">
        EAT DA BURGER!
    </button>{{/unless}}
    <button class="yeet" data-id="{{this.id}}">GARBAGE!</button>
</li>